@{
    ViewBag.Title = "Contact";
}
<h2>Контакты</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Першин Илья<br />
    <abbr title="Phone">Тел:</abbr>
    +7(919)706-51-26
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:bkmz.59@gmail.com">bkmz.59@gmail.com</a><br />
</address>