@using RManager.Models

@{
    ViewBag.Title = "Home Page";
}


@if ((Employee)Session["user"] != null)
{
@Html.Partial("tabs");
}
<div class="jumbotron">
    <h1>RManager</h1>
    <p class="lead">RManager это программа для ведения учёта услуг в организациях общественного питания.</p>
</div>