@using RManager.Models

@if ((Employee)Session["user"] != null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a>@("Здравствуйте, " + ((Employee)Session["user"]).Surname + "!")</a>
        </li>
        <li>@Html.ActionLink("Выход", "Exit", "Home")</li>
    </ul>
}
else
{
<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Выполнить вход", "Login", "Home")</li>
</ul>
}